@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap');

:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Outfit', sans-serif;
}

/* This class just makes anything with it have a certain color*/
.tc {
  color: rgb(255, 183, 3);
}

.checkpoint-num {
  font-size:3vh;
  color:yellow;
  text-shadow: 0px 0px 20px yellow, 0px 0px 20px yellow;
}

.skills-checkpoint {
  font-size:2vh;
  color:grey;
  text-shadow: 0px 0px 20px grey, 0px 0px 20px grey, 0px 0px 20px grey;
}

a {
  text-decoration: none; 
  color: inherit; 
}

.rainbow-button {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 40px -15px white;
  border:none;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  transition: border 0.5s ease-in 0s;
  cursor:pointer;
  border-radius: 10px;
}

.rainbow-button:hover {
  border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
}

.header--wrapper {
  position:fixed;
  background-color:transparent;
  width:100%;
  padding:1em;
  display:flex;
  justify-content: space-between;
  z-index: 999;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header--wrapper.scrolled {
  background-color: black;
  box-shadow: 0 0px 42px rgba(33, 140, 194, 0.2);
  border-bottom: 1px solid rgb(56, 56, 56);
  animation: slideIn 0.35s ease-in-out forwards;
}

.header-item {
  color:white;
  font-family: var(--primary-font);
}

.header-nav-wrapper {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  max-width:400px;
  gap: 0em 3em;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  transition: text-shadow 0.3s ease-in-out;
}

.nav-item:hover {
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff; 
}

.introduction--wrapper {
  height:800px;
  background-color: black;
  display:grid;
  grid-template-rows: 1fr 11fr;
}

.introduction-info-holder {
  grid-row: 2 / 3;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  flex-direction: column;
  gap: 2em 0em;
}

.intro--title {
  font-size: calc(10px + 5vw);
  font-family:var(--primary-font);
}

.intro--subtitle {
  font-size: calc(10px + 1vw);
  font-family:var(--primary-font);
  text-align:center;
}

.intro-button-holder {
  max-width:50%;
  display:flex;
  gap: 0em 2em;
}

.intro--button {
  font-family: var(--secondary-font);
  padding: 1vh;
  font-size: 3vh;
  cursor: pointer;
  background-color: white;
  border-radius: 1vh;
  border: none;
  color: black;
  box-shadow: 0px 0px 20px -7px white;
  transition: box-shadow 0.3s ease;
}

@media (max-width: 500px) {
  .intro-button-holder {
    gap:1vh;
  }

  .intro--button {
    font-size:calc(10px + 1vh);
    
  }
}

.intro--button:hover {
  box-shadow: 0px 0px 30px -5px white;
}

.intro--button:active {
  transform: scale(1.05);
}

.about--wrapper {
  height:max-content;
  padding-bottom:2em;
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  padding: 10em 0em 10em 0em;
}

.about-details-wrapper {
  grid-column: 0 / 2;
  display:flex;
  flex-direction: column;
  padding:1em 0em 0em 3em;
}

.about-title {
  color:white;
  font-size:calc(10px + 2vw);
  font-family:var(--primary-font);
}

.about-description {
  color:white;
  padding:1em 0em 0em 1em;
  font-family:var(--primary-font);
  padding: 1em;
  font-size:3vh;
}

.about-image-holder {
  grid-column: 2/3;
  display:flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width:70%;
  height: auto;
  border-radius:2vh;
  box-shadow: 0px 0px 20px 1px white;
  border: 5px solid white;
  transform: rotate(5deg);
}

@media (max-width: 1000px) {
  .about--wrapper {
    grid-template-columns: 100%;
    display:flex;
    flex-direction: column;
    gap:5em 0em;
  }
}

.skills--wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height:max-content;
  background-color: black;
}

.skills--title {
  background-color: black;
  color:white;
  font-size:calc(10px + 2vw);
  font-family:var(--primary-font);
  text-align: center;
}

.skills-holder {
  margin-top:3em;
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap:wrap;
  gap: 1em 1em;
}

.language-skill-holder {
  grid-column: 0 / 1;

}

.skills-inner-title {
  color:white;
  font-size:calc(10px + 1.5vw);
  font-family:var(--primary-font);
}

.img-holder {
  width:100%;
  height:max-content;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em 0em;
}

.image-items {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-holder > .image-items {
  width:35%;
  padding:1vh 2vh 1vh 2vh;
  background-color:rgb(244, 238, 238);
  box-shadow: 0px 0px 10px -1px white;
  border-radius:2vh;
}

.image-subtitle {
  font-family:var(--secondary-font);
  font-weight:600;
  font-size:1.5vw;
  padding-top:1vh;
  text-shadow: 0px 0px 25px black;
}

.technologies-skill-holder {
  grid-column: 2/3;
}

@media (max-width: 600px) {
  .skills--wrapper {
    grid-template-columns:100%;
    display:flex;
    flex-direction:column;
  }

  .about--wrapper {
    padding: 3em 0em 5em 0em;
  }

  .introduction--wrapper {
    height:400px;
    background-color: black;
    display:grid;
    grid-template-rows: 1fr 11fr;
  }

}

